<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^build/(.*)$ public/build/$1 [L,QSA]
    RewriteRule ^images/(.*)$ public/images/$1 [L,QSA]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
